input{
	width: 50px;
	height: 50px;
	margin: 3px;
	cursor: pointer;
	font-size: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
	appearance: none;
}

button{
	width: 50px;
	height: 50px;
	margin: 3px;
	cursor: pointer;
	font-size: 20px;
}
.calculator{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 15px;
	padding: 15px;
	background-color: #607d8b;
	font-size: 25px;
	border: none;
}
#result{
	background-color: white;
	text-align: right;
	width: 225px;
	height: 20px;
	padding: 5px;
	font-size: 20px;
	margin-bottom: 15px;
}
#clear{
	width: 170px;
}
#zero{
	width: 110px;
}
#title{
	text-align: center;
	font-family: math;
}